:root{
    --font-family:'Roboto',sans-serif;
    --primary-background-color:#FFFFFF;
    --secondary-text-color:#000000;
    --primary-text-color:#FFFFFF;
    --link-underline:#FF001B;
    --search-error:#FF001B;
    --card-title-color:#000000;
    --card-info:#FF6B08;
    --card-info-color:#8C8C8C;
    --page-numb-color:#000000;
    --page-numg-now-bcg-color:#FF6B08;
    --footer-info:#545454;
    --btn-first-style:#FFFFFF;
    --bnt-second-style:#000000;
    --btn-hover:#FF6B01;
    --footer-bg-color: #F7F7F7;
}