<footer class="footer">
    <div class="container footer-container">
        <p class="footer-text">© 2023 | All Rights Reserved |</p>
        <div class="footer-text-wrap">
            <p class="footer-text">Developed with</p>
            <svg class="footer-icon" width="14" height="13">
                <use href="./images/sprite.svg#icon-heart"></use>
            </svg>
            <a href="" class="footer-text">by <span class="underlined">GoIT Students</span></a>
        </div>
    </div>
</footer>