<section class="films">
  <div class="films__container">
    <ul class="films__list">
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
      <li class="films__card">
        <a href="" class="films__link">
          <img src="./images/desktop/film-test.jpg" alt="film poster" class="films__picture" />
          <p class="films__title">GREYHOUND</p>
          <div class="films__details">
            <p class="films__genres film-font-style">Drama, Action</p>
            <p class="films__slash film-font-style">|</p>
            <p class="films__year film-font-style">2020</p>
            <p class="films__rate">10.0</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
