<header class="header">
  <div class="container header-conteiner">
    <div class="header-conteiner-logo-nav">
      <a href="./index.html" class="logo-link"
        ><svg class="logo-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-logo"></use></svg
        ><span class="logo-span">Filmoteka</span></a
      >
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__item--link current" id="js-home" href="./index.html">home</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item--link" id="js-libr" href="./library.html">my library</a>
          </li>
        </ul>
      </nav>
    </div>
    <form class="header-form">
      <input name="query" class="header-form__input" type="text" placeholder="Movie search" />
      <button class="header-form__button" type="submit">
        <svg class="header-form__button--svg" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="js-failure-massege"><div/>
</header>
