<header class="header">
  <div class="container header-conteiner">
    <div class="header-conteiner-logo-nav">
      <a href="./index.html" class="logo-link"
        ><svg class="logo-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-logo"></use></svg
        ><span class="logo-span">Filmoteka</span></a
      >
      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a class="nav-list__item--link" href="./index.html">home</a>
          </li>
          <li class="nav-list__item">
            <a class="nav-list__item--link current" href="./library.html"
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <ul class="button-list">
      <li>
        <button
          id="watched-films"
          type="button"
          class="watched-films libr-button"
        >
          watched
        </button>
      </li>
      <li>
        <button id="queue-films" type="button" class="queue-films libr-button">
          queue
        </button>
      </li>
    </ul>
    <p></p>
  </div>
</header>
