<div class="backdrop-modal-film is-hidden">
  <div class="modal-film-description">
    <div class="modal__container">
      <button class="modal__close-btn" type="button">
        <svg lang="en" aria-label="close-btn-icon" class="modal__close-btn-icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="film-render-markup">
        <div class="modal-img-wrapper">
          <img src="./images/desktop/film-test.jpg" class="modal-film__img" alt="film-poster" />
        </div>
        <div class="modal__wrapper">
          <h2 class="modal__film-title">A FISTFUL OF LEAD</h2>
          <table class="modal__table">
            <tr class="modal__table-row">
              <td class="modal__first-column">Vote / Votes</td>
              <td>
                <div class="modal__vote-wrapper">
                  <p class="modal__vote">7.3</p>
                  <p>/</p>
                  <p class="modal__votes">1260</p>
                </div>
              </td>
            </tr>
            <tr class="modal__table-row">
              <td class="modal__first-column">Popularity</td>
              <td>100.2</td>
            </tr>
            <tr class="modal__table-row">
              <td class="modal__first-column">Original Title</td>
              <td>A FISTFUL OF LEAD</td>
            </tr>
            <tr class="modal__table-row">
              <td class="modal__first-column">Genre</td>
              <td>Western</td>
            </tr>
          </table>
          <div>
            <h3 class="modal__about-title">About</h3>
            <p class="modal__about-film">
              Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from
              the most corrupt settlement of the gold rush towns. But not all goes to plan one is
              killed and the other three escapes with bags of gold hide out in the abandoned gold
              mine where they happen across another gang of three – who themselves were planning to
              hit the very same bank! As tensions rise, things go from bad to worse as they realise
              the bags of gold are filled with lead... they’ve been double crossed – but by who and
              how?
            </p>
          </div>
          <div class="modal__buttons">
            <button class="modal-btn btn-watched">ADD TO WATCHED</button>
            <button class="modal-btn btn-queue">ADD TO QUEUE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script src="./js/GETAPI/modal-film.js"></script> -->
