<div class="overlay is-hidden">
    <div class="modal">
        <button type="button" class="close-button">&#10006</button>
        <div class="modal-body">
            <div class="modal-body-content">
            <div class="card">
                <div class="card-img-box">
                    <img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko"></div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                    <ul class="social-list">
                        <li><a href="https://github.com/PanSerg" target="_blank"><img src="./images/icons/github.svg" width="40" alt="GitHub"></a></li>
                        <li><a href="https://www.linkedin.com/in/serhii-opanasenko-284160263/" target="_blank"><img src="./images/icons/linkedin.svg" width="40" alt="LinkedIn"></a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            <div class="card">
                <div class="card-img-box"><img class="card-img" src="./images/comand/Serhii_Opanasenko.jpg" alt="Serhii Opanasenko">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Serhii Opanasenko</h2>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
