.footer{
    background-color: var(--footer-bg-color);
    padding-top: 29px;
    padding-bottom: 29px;
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .footer-container{
        flex-direction: row;
    }
}

.footer-text-wrap{
    display:flex;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .footer-text-wrap {
        margin-left: 4px;
        margin-top: 0px;
    }
}

.footer-text{
    font-size: 16px;
    line-height: 19px;
    color: var(--footer-info);
}

.underlined{
    text-decoration: underline;
}

.footer-icon{
    width:14px;
    height: 13px;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: heartbeat;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.25);
    }
    30% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1.25);
    }
    75% {
        transform: scale(1);
    }
}